<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layout :: htmlhead"></head>
<body>
    
    <nav th:replace="layout :: menu">(menu)</nav>

    <main class="caixa-de-conteudo-solo">

        <div class="mini_menu_paginas_listar">
            <div class="mini_menu_paginas_listar_mini_nav">
                <a class="btn retornar" href="/"><</a>
                <h1 class="hUm">Imóveis</h1>
            </div>
            
            <a class="btn btn-success" href="/imoveis/novo-imovel">Novo</a>
        </div>

        <br>
        <div class="caixa-da-tabela">
            <table id="tabelaimoveis" class="table table-striped tabela_listar">
                <thead>
                    <th>Foto</th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>CEP</th>
                    <th>Proprietário</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="imovel : ${listaDeImoveis}">
                        <td>
                          <img th:if="${imovel.foto}" th:src="@{'/imoveis/image/'+${imovel.id}}" 
                               class="foto_do_imovel">
                      </td>
                        <td th:text="${imovel.codigo}"></td>
                        <td th:text="${imovel.nome}"></td>
                        <td th:text="${imovel.cidade}"></td>
                        <td th:text="${imovel.estado}"></td>
                        <td th:text="${imovel.cep}"></td>
                        <td th:text="${imovel.cliente_proprietario != null ? imovel.cliente_proprietario.nome : 'Não Informado'}"></td>
                        <td><a class="badge bg-success" th:text="${'R$ ' + imovel.valor}"></a></td>
                        <td>
                            <span th:switch="${imovel.status}">
                                <span th:case="1" class="badge bg-light text-dark">Disponível</span>
                                <span th:case="2" class="badge bg-light text-dark">Reservado</span>
                                <span th:case="3" class="badge bg-light text-dark">Alugado</span>
                                <span th:case="4" class="badge bg-light text-dark">Vendido</span>
                                <span th:case="*" class="badge bg-light text-dark">Indefinido</span>
                            </span>
                        </td>   
                        <td><a class="btn btn-warning" th:href="@{'/imoveis/editar-imovel/' + ${imovel.id}}">Editar</a></td>
                        <td>
                            <button
                                class="btn btn-danger js-delete"
                                th:data-id="${imovel.id}">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </main>

    <div th:include="layout :: footer">(footer)</div>
    <script th:src="@{/scriptimovel.js}"></script>

    <div class="modal" tabindex="-1" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir Imóvel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirma a exclusão do imóvel?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
