<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>

        <main class="caixa-de-conteudo-solo">

        <div class="mini_menu_paginas_listar">
            <div class="mini_menu_paginas_listar_mini_nav">
                <a class="btn retornar" href="/"><</a>
                <h1 class="hUm">Clientes</h1>
            </div>
            
            <a class="btn btn-success" href="/clientes/novo-cliente">Novo</a>
        </div>

        <br>
        <div class="caixa-da-tabela">
                <table id="tabelaclientes" class="table table-striped tabela_listar">
                    <thead>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Função</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Corretor</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${listaDeClientes}">
                            <td th:text="${cliente.nome}"></td>
                            <td th:text="${cliente.sobrenome}"></td>
                     
                            <td>
                              <span th:switch="${cliente.funcao}">
                                  <span class="badge bg-dark" th:case="1">Proprietário</span>
                                  <span class="badge bg-dark" th:case="2">Comprador</span>
                                  <span class="badge bg-dark" th:case="3">Alugador</span>
                                  <span class="badge bg-dark" th:case="*">Desconhecido</span>
                              </span>
                          </td>
                            <td th:text="${cliente.email}"></td>
                            <td th:text="${cliente.telefone}"></td>
                            <td th:text="${cliente?.corretor_responsavel?.nome != null ? cliente.corretor_responsavel.nome : 'Nenhum Corretor'}"></td>
                            <td><a class="btn btn-warning" th:href="@{'/clientes/editar-cliente/' + ${cliente.id}}">Editar</a></td>
                            <td>
                                <button
                                class="btn btn-danger js-delete"
                                th:data-id="${cliente.id}">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
            
        </main>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptcliente.js}"></script>

        <div class="modal" tabindex="-1" id="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Cliente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do cliente?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

          
    </body>
</html>
