<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <h1>Corretores</h1>
            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Email</th>
                    <th>Data de Nascimento</th>
                </thead>
                <tbody>
                    <tr th:each="umCorretor : ${listaCorretores}">
                        <td th:text="${&umCorretor.nome}"></td>
                        <td th:text="${&umCorretor.sobrenome}"></td>
                        <td th:text="${&umCorretor.email}"></td>
                        <td th:text="${&umCorretor.dataNascimento}"></td>
                    </tr>
                </tbody>
            </table>
        </main>

        
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>